body{
  overflow-x: hidden;
}
.heading{
  background-color: #282957;
  height:20vh;
  color:white;
  font-size: 5em;
}
.logo{
  background-image: url('img/cycle.jpg');
  height:80vh;
}
button{
  background-color: rgba(255, 255, 0255, 0.4);
  height: 100px;
  width: 300px;
  margin-top: 20%;
  border-radius: 20px;
  margin-left: 20%;
  font-size: 2em;
  color:white;
}
.s{
  margin-top: 8%;
  padding-left: 4.5%;
}
@media screen and (max-width:768px)
{
.heading{
    height:15vh;
    font-size:3em;
}
button{
height: 100px;
width: 200px;
margin-top: 6vh;
margin-left:22%;
}
.logo{
  height: 85vh;
}
}
